<div style="text-align: center;">
  <h3>Projet2 TEAM-X</h3>
  <h1>Affichage des Utilisateurs et les Produits a partir du projet 1</h1>
</div>
  
  <!-- <app-users></app-users> 
  <app-products></app-products> -->
  <nav style="text-align: center;">
    <button><a routerLink="/" routerLinkActive="active">Accueil</a></button>
    <button><a routerLink="/users" routerLinkActive="active">Users</a></button>
    <button><a routerLink="/products" routerLinkActive="active">Products</a></button>
  </nav>
  <router-outlet></router-outlet>
